SearchContainer {
    layout: vertical;
    background: $boost;
    height: 100%;
    margin: 1;
    padding: 1;
}

ResultsContainer {
    layout: vertical;
    background: $boost;
    height: 100%;
    margin: 1;
    padding: 1;
}

DataTable {
    background: $boost;
    border: solid lightblue;
    height: 1fr;
}

Pretty {
    content-align: left top;
    background: $boost;
    height: 100%;
    border: solid lightblue;
}

.column {
    width: 1fr;
}